* {
  padding: 0;
  margin: 0;
}



.container {
  margin: 0 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  margin: 20px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header * {
  margin: 7px 0;
}

.header input {
  width: 35%;
}
