.todo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.todo-add-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 10px 0;
}

.todo-add-container input{
    border:1px solid #ccc
}

.todo-add-container button{
    width: 50px;
    border: none;
    cursor: pointer;
}